.toggle-btn {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border-color: #999;
  }

  &.active {
    background-color: #75b2f4;
    color: white;
    border-color: #7ba5d1;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}
