.question-container {
  // padding: 24px;
  // background: #fff;
  // border-radius: 8px;
  // box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.question-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.question-item {
  margin-bottom: 24px;
}

.question-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  color: var(--text-color-1);
  white-space: break-spaces;
}

.question-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.question-option {
  font-size: 12px;
  color: #444;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  flex: 0 0 auto;
  min-width: 120px;
  max-width: 100%;
}

.question-input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 12px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.question-custom-input {
  padding: 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 11px;
  margin-top: 4px;
  margin-bottom: 8px;
  margin-left: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  height: 70px;
}

.question-submit {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background: #1677ff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.question-submit-disabled {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background: #617798;
  color: #fff;
  font-size: 14px;
  cursor: not-allowed;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.question-submit:disabled {
  background: #617798;
  cursor: not-allowed;
}

.question-submit:hover:not(:disabled) {
  background: #0958d9;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(22, 119, 255, 0.3);
}

.question-submit-loading {
  position: relative;
  cursor: not-allowed !important;
  background: #617798;
  box-shadow: 0 4px 15px rgba(79, 172, 254, 0.4);
  transform: scale(0.98);
  transition: all 0.3s ease;
  
}

.loading-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  animation: spin 0.8s linear infinite;
  margin-right: 8px;
  vertical-align: middle;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}